{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<div class="container">
    <h1>Home - recent notifications</h1>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Start date</th>
              <th scope="col">Department</th>
              <th scope="col">Subdepartment</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% if notifications %}
            {% for field in notifications %}
                <tr class="list-unstyled">
                    <th scope="row">{{ field.id }}</th>
                    <td>{{ field.full_name }}</td>
                    <td>{{ field.start_date }}</td>
                    <td>{{ field.department }}</td>
                    <td>{{ field.subdepartment }}</td>
                    <td class="text-center">
                        <div class="inline-elements" style="display: flex;justify-content: flex-end;">
                            {% if '/new-employee-notifications/' in request.path %}
                                <a href="{% url 'update_notification' field.id %}" style="text-decoration: none;margin-right: 0.2rem;">
                                    <button class="btn btn-success btn-sm">{% if field.mail_sent is False %} Edit/View {% else %} View {% endif %}</button>
                                </a>
                            {% else %}
                                <a href="{% url 'update_new_employee_notification' field.id %}" style="text-decoration: none;margin-right: 0.2rem;">
                                    <button class="btn btn-success btn-sm">{% if field.mail_sent is False %} Edit/View {% else %} View {% endif %}</button>
                                </a>
                            {% endif %}
                            {% if field.mail_sent is False %}
                                <form method="get" action="">
                                    {% csrf_token %}
                                        <button type="submit" class="btn btn-warning btn-sm" id="submit_btn_send" name="notification_id" value="{{ field.id }}">Send email</button>
                                </form>
                                <a href="" style="text-decoration: none;">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No results available</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}