{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
{% load widget_tweaks %}
<div class="container">
    <h1>Authenticate</h1>
    <form method="post" action="">
        {%csrf_token%}
        {% for field in form %}
            <div class="form-group col-6">
                {{field.errors}}
                {{field.label_tag}}
                {% render_field field class="form-control" %}
            </div>
            <br />
        {% endfor %}
        <button type="submit" class="btn btn-success" id="submit_btn">Login</button>
    </form>
</div>
</form>
{% endblock %}